body{
    font-size: 16px;
    font-style: italic;
    line-height: 55px;
    text-align: justify;
    text-decoration: underline;
}

h1{
    font-family: sans-serif;
    font-size: 65px;
    color: orange;
}

p{
    font-weight: 600;
    font-size: 3em;
}
.list{
    background-color: yellow;
}

#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#brown{
    background-color: brown;
}